@model IEnumerable<Farm.Models.Entities.BatchlistDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Batch List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Fruit)
        </th>
        <th>
            Variety)
        </th>
        <th>
            Qty
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BatchId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fruit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variety)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td style="visibility:hidden">
            @Html.DisplayFor(modelItem => item.StockListId)
        </td>


        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BatchId }) |
            @Html.ActionLink("Details", "Details", new { id = item.BatchId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BatchId })
        </td>
    </tr>
}

</table>
